.item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--color-white);
  border: 1px solid;
  border-radius: 5px;
  border-color: blueviolet;
}

.item + .item {
  margin-top: 10px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-red);
}

.online {
  composes: status;
  background-color: var(--color-green);
}
.offline {
  composes: status;
  background-color: var(--color-red);
}
.avatar {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  background-color: var(--color-secondary-text);
  border-radius: 10px;
}

.name {
  margin-left: 20px;
  font-size: 40px;
}
